<title>eAuction</title>
<!--
<nav class="nav-area">
  <ul>
    <li><a href="#">Seller</a></li>
    <li><a href="#">Buyer</a></li>
  </ul>
</nav>
-->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/addProduct">Add Product</button>
  <button mat-menu-item routerLink="/listBids">Listing Bids</button>
</mat-menu>
<mat-menu #appMenuBuyer="matMenu">
  <button mat-menu-item routerLink='/placeBid'>Biding Product</button>
  <button mat-menu-item routerLink='/updateBid'>Update Bidding</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="appMenu">Seller</button>
<button mat-flat-button [matMenuTriggerFor]="appMenuBuyer">Buyer</button>

<!--
<app-add-product></app-add-product>
-->

<router-outlet></router-outlet>