<h1>List Bids</h1>

<form>    
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-2">
            <select class="select-option"
            #productSelect
            (change)='onOptionsSelected(productSelect.value)'>
                <!--<option>Choose Product</option>-->
                <option class='produc' *ngFor="let produc of productListArray" [value]="produc.productId">{{produc.productname}}</option>
            </select>
        </div>
      </div>

    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Product Name</label>
      <div class="col-sm-2">
        <input type="text" disabled class="form-control" name="Name" [value]="productInfo.productname" />
      </div>
    </div>
    <div class="form-group row">
      <label for="shortDesclbl" class="col-sm-2 col-form-label">Short Description</label>
      <div class="col-sm-2">
        <input type="text" disabled class="form-control" name="shortDesc" [value]="productInfo.shortdescription" />
      </div>
    </div>
    <div class="form-group row">
      <label for="detailedDesclbl" class="col-sm-2 col-form-label">Detailed Description</label>
      <div class="col-sm-2">
        <input type="text" disabled class="form-control" name="detailedDesc" [value]="productInfo.detaileddescription
        " />
      </div>
    </div>
    <div class="form-group row">
      <label for="categorylbl" disabled class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-2">
       
       <input type="text" disabled class="form-control" name="categoryDesc" [value]="productInfo.category" />
      </div>
    </div>
    <div class="form-group row">
      <label for="startingPricelbl" class="col-sm-2 col-form-label">Starting Price</label>
      <div class="col-sm-2">
        <input type="text" disabled class="form-control" name="startingPriceDesc" [value]="productInfo.startingprice
        " />
      </div>
    </div>
    <div class="form-group row">
      <label for="bidEndDatelbl" class="col-sm-2 col-form-label">Bid EndDate</label>
      <div class="col-sm-2">
        <input type="text" disabled class="form-control" name="bidEndDateDesc" [value]="productInfo.bidenddate" />
      </div>
    </div>
  </form>
<br/>
<b>Bids:</b>
  <ag-grid-angular 
  style="width: 700px; height: 300px;"   
  class="ag-theme-alpine"     
    [rowData]="rowData"
    [columnDefs]="columnDefs" 
    [defaultColDef]="defaultColDef"
    (cellClicked)="onCellClicked($event)"></ag-grid-angular>

  